<footer class="site-footer">
  <div class="contenedor footer">
    <div class="flex">
      <h3>Sobre <span>gdlwebcamp</span></h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut
        sapiente id repellendus, accusantium est veritatis molestiae at
        temporibus, voluptates, fugit magnam necessitatibus voluptas quod?
        Labore praesentium officia sed suscipit.
      </p>
    </div>
    <div class="ultimos-tweets flex">
      <h3>Ultimos <span>tweets</span></h3>
      <ul>
        <li>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            alias ad, unde nam, quos repellendus voluptatem totam exercitationem
            in obcaecati ratione. Harum voluptatibus officiis deleniti eos
            itaque, amet reiciendis repudiandae.
          </p>
        </li>
        <li>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            alias ad, unde nam, quos repellendus voluptatem totam exercitationem
            in obcaecati ratione. Harum voluptatibus officiis deleniti eos
            itaque, amet reiciendis repudiandae.
          </p>
        </li>
        <li>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            alias ad, unde nam, quos repellendus voluptatem totam exercitationem
            in obcaecati ratione. Harum voluptatibus officiis deleniti eos
            itaque, amet reiciendis repudiandae.
          </p>
        </li>
      </ul>
    </div>
    <div class="menu flex">
      <h3>Redes <span>Sociales</span></h3>
      <nav class="redes-sociales">
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-pinterest"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </nav>
    </div>
  </div>
  <p class="copyright">&copy;Todos los Derechos Reservados GdlWebCamp 2020</p>
</footer>
