<div class="caja grid">
	<div class="extras">
		<div class="orden">
			<label for="camisa_evento">Camisa del evento $10 <small>(Promoción 7% dto.)</small></label>
			<input
				type="number"
				min="0"
				id="camisa_evento"
				name="pedido_extra[camisas][cantidad]"
				size="3"
				placeholder="0"
			/>
			<input type="hidden" name="pedido_extra[camisas][precio] " value="10" />
		</div>
		<!-- orden -->
		<div class="orden">
			<label for="etiquetas"
				>Paquete de etiquetas $2 <small>(HTML5,CSS3,JavaScript,Chrome)</small></label
			>
			<input
				type="number"
				min="0"
				id="etiquetas"
				name="pedido_extra[etiquetas][cantidad]"
				size="3"
				placeholder="0"
			/>
			<input type="hidden" name="pedido_extra[etiquetas][precio] " value="2" />
		</div>
		<!-- orden -->
		<div class="orden">
			<label for="regalo">Seleccione un regalo</label><br />
			<select name="regalo" id="regalo" required>
				<option value="">--Seleccione un regalo--</option>
				<option value="1">Etiqueta</option>
				<option value="2">Pulsera</option>
				<option value="3">Esferos</option>
			</select>
		</div>
		<!-- orden -->
		<input type="button" id="calcular" class="button" value="Calcular" />
	</div>
	<!-- Extras -->
	<div class="total">
		<p>Resumen</p>
		<div id="listas-productos"></div>
		<p>Total:</p>
		<div id="suma-total"></div>
		<input type="hidden" name="total_pedido" id="total_pedido" />
		<input type="submit" name="submit" id="btnRegistro" class="button" value="Pagar" />
	</div>
	<!-- total -->
</div>
