<section class="precios seccion">
  <h2>Precios</h2>
  <div class="contenedor">
    <ul class="lista-precios clearfix">
      <li *ngFor="let card of cards; let even = even">
        <div class="tabla-precio">
          <h3>{{ card.title }}</h3>
          <p class="numero">{{ card.price }}</p>
          <ul>
            <li>Bocadillos Gratis</li>
            <li>Todas las conferencias</li>
            <li>Todos los talleres</li>
          </ul>
          <a href="button" class="button" [ngClass]="{ hollow: even }"
            >Comprar</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
