<div class="hero">
	<div class="contenido-header">
		<nav class="redes-sociales">
			<a href=""><i class="fab fa-facebook-square"></i></a>
			<a href=""><i class="fab fa-twitter"></i></a>
			<a href=""><i class="fab fa-pinterest"></i></a>
			<a href=""><i class="fab fa-youtube"></i></a>
			<a href=""><i class="fab fa-instagram"></i></a>
		</nav>

		<div class="informacion-evento">
			<div class="wrapper-info-event">
				<p><i class="fas fa-calendar-alt"></i>10-12 Dic</p>
				<p><i class="fas fa-map-marker-alt"></i>Quito, Ecuador</p>
			</div>

			<h1 class="name-sitio">GdlWebCamp</h1>
			<p class="slogan">La mejor conferencia de <span>diseño web</span></p>
		</div>
	</div>
</div>

<app-header></app-header>
<app-info-conference></app-info-conference>
<div class="wrapper-main">
	<app-main></app-main>
	<app-programEvent class="progranInfo"></app-programEvent>
</div>
<app-guests></app-guests>
<app-counter></app-counter>
<app-prices></app-prices>
<app-map></app-map>
<app-testimonials></app-testimonials>
<div class="newsletter parallax">
	<div class="contenido contenedor">
		<p>regístrate al newsletter:</p>
		<h3>gdlwebcamp</h3>
		<a href="#mc_embed_signup" class="boton_newsletter button transparente">Registro</a>
	</div>
	<!--.contenido-->
</div>
<app-counter-days></app-counter-days>

<app-footer></app-footer>
