.hero {
  background-image: url(../../../../assets/img/encabezado.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.informacion-evento {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}

.informacion-evento p i {
  color: #fe4918;
  font-size: 1.8rem;
  margin-right: 5px;
}

@media (min-width: 480px) {
  .informacion-evento {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
.wrapper-info-event {
  display: flex;
  justify-content: space-between;
}

.name-sitio {
  font-family: "PT Sans", sans-serif;
  font-size: 11.5vw;
  text-transform: uppercase;
}

@media (min-width: 480px) {
  .name-sitio {
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    font-size: 9.5vw;
    margin: 10px;
    line-height: 1;
  }
}

.slogan {
  text-transform: none !important;
}

.slogan span {
  font-weight: bold;
}

/*Cuenta Regresiva*/
.cuenta-regresiva {
  height: 30vh;
}

.cuenta-regresiva ul li {
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
}

@media (min-width: 350px) {
  .cuenta-regresiva li {
    float: left;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .cuenta-regresiva ul li {
    float: left;
    width: 25%;
  }
}
.newsletter {
  position: relative;
  height: auto;
}

.newsletter::before {
  background-image: url(../../../../assets/img/bg-newsletter.jpg);
  content: "";
}

.newsletter .contenido {
  padding: 100px 0;
  color: #fff;
  text-align: center;
  position: relative;
}

.newsletter .contenido p {
  text-transform: lowercase;
  font-size: 1.2em;
}

.newsletter .contenido h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 7vw;
  font-family: "PT Sans", sans-serif;
}
/*Mapa*/

.mapa {
  height: 420px;
  background-color: rgb(8, 4, 43);
}
