/* calendario */
.list-day {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
div.dia {
	width: 100%;
	border: 2px solid #e1e1e1;
	transition: all 0.3s ease;
}

.dia {
	flex-basis: 33.3%;
}
/* @media (min-width: 480px) {
  div.dia {
    width: 50%;
  }
} */

@media (min-width: 768px) {
	div.dia {
		min-height: 240px;
		margin-top: 20px;
	}
}

div.dia:hover {
	background-color: #e1e1e1;
	cursor: pointer;
	-webkit-transform: scale(1.1);
}

div.dia p.titulo {
	color: #fe4918;
	text-transform: uppercase;
	font-weight: bold;
}

div.dia p {
	font-size: 1em;
}

div.dia i {
	color: #fe4918;
	font-size: 1.2em;
}

.calendario h3 {
	clear: both;
	text-align: center;
	background-color: #fe4918;
	color: #fff;
	padding: 10px 20px;
}

div.cboxElement {
	padding: 30px !important;
	text-align: center;
}

i {
	padding: 0.2rem;
}
