<div class="contenido-programa">
	<div class="wrapper programa-evento">
		<h2>Programa del Evento</h2>
		<nav class="menu-programa">
			<a href="" *ngFor="let event of menu">
				<i [class]="event.icon"></i>
				{{ event.title }}
			</a>
		</nav>

		<div id="hello" class="info-curso ocultar clearfix">
			<div class="detalle-evento" *ngFor="let data of eventData">
				<h3>{{ data.title }}</h3>
				<p>
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					{{ data.hour }}
				</p>
				<p>
					<i class="fa fa-calendar" aria-hidden="true"></i>
					{{ data.date }}
				</p>
				<p>
					<i class="fa fa-user" aria-hidden="true"></i>
					{{ data.name }}
				</p>
			</div>
			<a href="calendario.php" class="button float-right">Ver todos</a>
		</div>
	</div>
</div>
