/*Contador*/

.contador {
  position: relative;
  height: 75vh;
}

.contador::before {
  background-image: url(../../../../../assets/img/bg-resumen.jpg);
  content: "";
}

.resumen-evento {
  position: relative;
  padding: 120px 0;
}

.resumen-evento li {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

@media (min-width: 768px) {
  .resumen-evento li {
    width: 25%;
  }
}

p.numero {
  color: #fe4918;
  font-size: 4em;
  display: block;
  margin: 0 0 10px 0;
  font-family: "Oswald", sans-serif;
}
