<app-header></app-header>
<div class="seccion contenedor"></div>
<h2>Registro de Usuarios</h2>
<form action="" class="registro">
  <div class="caja registro">
    <div class="wraper-campo">
      <div class="campo" *ngFor="let info of formData">
        <label [for]="info.id">{{ info.label }}: </label>
        <input [type]="info.type" [id]="info.id" />
      </div>
    </div>

    <div class="paquetes" id="paquetes">
      <h3>Elige el número de boletos</h3>
      <app-prices></app-prices>
    </div>
  </div>

  <div id="eventos" class="eventos clearfix">
    <h3>Elige tus talleres</h3>

    <div class="caja">
      <div class="" *ngFor="let day of days">
        <h4>{{ day }}</h4>
      </div>
    </div>
  </div>

  <div class="resumen clearfix" id="resumen">
    <h3>Pagos y Extras</h3>
    <div class="caja clearfix"></div>
  </div>
</form>
<app-footer></app-footer>
