/* Registros */

form.registro h3 {
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0 0 0;
}

form.registro label {
	margin-bottom: 5px;
	font-weight: bold;
}

h4 {
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px solid #fe4918;
	padding-bottom: 10px;
	font-size: 1.2em;
}

.caja {
	flex-wrap: wrap;
	background-color: white;
	border: 1px solid #e1e1e1;
	padding: 10px;
	margin: 50px;
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	div.caja {
		margin: 1rem 15%;
	}
}
.campo {
	padding: 20px;
}
@media (min-width: 768px) {
	.wraper-campo {
		display: flex;
		justify-content: center;
	}
	div.campo {
		flex-basis: calc(33.3% - 0.5rem);
	}
}

div.paquetes .tabla-precio:hover {
	transform: none;
	box-shadow: none;
}

div.paquetes .tabla-precio input {
	clear: both;
	width: 100px;
	margin: 10px auto 0 auto;
	display: block;
}

.wrapperInfoEvent {
	padding: 10px;
	/* display: none; */
}

.wrapperInfoEvent > div {
	float: left;
	width: 100%;
	padding: 5px;
}

.wrapperInfoEvent > div p {
	text-align: left;
}

.wrapperInfoEvent > div input {
	margin-right: 10px;
	margin-top: 10px;
}

.wrapperInfoEvent > label time {
	color: #fe4918;
	font-weight: bold;
}

@media (min-width: 768px) {
	.wrapperInfoEvent > div {
		width: 33.3%;
	}
}

.wrapperInfoEvent .autor {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

.wrapperInfoEvent .conferencista {
	color: #fe4918;
	font-size: 12.5px;
	text-transform: uppercase;
	font-weight: bold;
}

.wrapperInfoEvent {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	flex-basis: 30%;
}
.wrapperEvent {
	display: flex;
	margin: 2rem;
	justify-content: center;
}
p {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2rem;
}
label {
	margin-top: 1rem;
}
.info {
	display: none;
}
.info0 {
	display: block;
}
.info1 {
	display: block;
}
