<section class="seccion">
  <h2>Testimoniales</h2>
  <div class="testimoniales contenedor clearfix">
    <div class="testimonial">
      <blockquote *ngFor="let testimonial of testimonials">
        <p>
          Sed mollis velit sit amet felis condimentum ultrices. Fusce vehicula
          ut sem vitae semper. Nullam blandit neque eu semper ullamcorper. Duis
          commodo quam in orci condimentum ultricies.
        </p>
        <p></p>
        <footer class="info-testimoniales clearfix">
          <img src="assets/images/testimonial.jpg" alt="imagen testimonial" />
          <cite>Oswaldo Aponte Escobedo <span>Diseñador en @prisma</span></cite>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
