<div class="hero">
  <div class="contenido-header">
    <nav class="redes-sociales">
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-pinterest"></i></a>
      <a href=""><i class="fab fa-youtube"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </nav>

    <div class="informacion-evento">
      <div class="wrapper-info-event">
        <p><i class="fas fa-calendar-alt"></i>10-12 Dic</p>
        <p><i class="fas fa-map-marker-alt"></i>Quito, Ecuador</p>
      </div>

      <h1 class="name-sitio">GdlWebCamp</h1>
      <p class="slogan">La mejor conferencia de <span>diseño web</span></p>
    </div>
  </div>
</div>
<app-header></app-header>
<div class="container"><app-main></app-main></div>
